.bookshelf {
    padding: 20px;
}
.bookshelf .title {
    font-size: 32px;
    margin: 0px 0px 10px;
    font-weight: 700;
}
.bookshelf .categories {
    display: flex;
    gap: 10px;
}
.bookshelf .categories span {
    font-size: 14px;
    padding: 10px 30px;
    color: #747479;
    border-radius: 20.09px;
    background: #F5F5F5;
    cursor: pointer;
}
.bookshelf .categories span:hover {
    background: rgba(113, 64, 193, 0.15);
}
.book-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 10px;
    
    margin-top: 30px;
}
.book {
    flex: 0 1 300px;

}
.book .preview {
    position: relative;
    height: 78%;
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}
.book .preview img {
    width: auto;    

}
.book .meta {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.book .meta .category, .book .meta .user-rating                                                                                                                                                                                                                                                                             {
    padding: 6px 25px;
    gap: 10px;
    border-radius: 20.09px;
    background: #EFEFEF;
}
.book .users {
    display: flex;
    align-items: center;
    gap: 5px;
}
.book .rating {
    display: flex;
    align-items: center;
    gap: 5px;
}
.book .meta .users-rating {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    background: #FAFAFA;
}
.book .title {
    color: #2D2D2D;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}
.book .description {
    display: -webkit-box;
    width: 268px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 0;
    color: #747479;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
}