header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.hello .title {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
.hello .sub-title {
    color: #929297;
    margin: 0;
}
.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
.actions .search {
    padding: 15.5px 19px;
    width: 350px;
    align-items: center;
    justify-content: center;
    border-radius: 87px;
    border: 1px solid #E1E1E1;
    background: #FCFCFC;
}

.actions input {
    margin-left: 15px;
    border: none;
    background: #FCFCFC;
    outline: none;
    width: 90%;
    box-sizing: border-box;
    font-size: large;
    letter-spacing: 1px;
}
.actions .user {
    border-radius: 100%;
    background: #645E5E;
    color: #fff;
    padding: 10px;
}