.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px;
    border-radius: 7px;
    background: #180E29;
}
.hero .title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.hero .content {
    color: #F5F5F5;
    margin: 0 0 10px;
    font-weight: 400;
}