.publish {
    display: flex;
}
.publish-book {
    flex: 1;
    padding: 40px;
    border-right: 1px solid #ccc;
}
.publish-book .form-container {
    padding: 0 40px 40px;
}
.publish-book .close {
    cursor: pointer;
}
.publish-book h1 {
    font-size: 2em;
    margin-bottom: 0;
}
.publish-book .muted {
    color: #999;
    font-size: 0.8em;
    margin: 0 0 20px;
}
.publish-book label {
    font-weight: bold;
}
.publish-book input:not(input[type="submit"]), .publish-book textarea, .publish-book .select-category {
    width: 100%;
    padding: 13px;
    margin: 10px 0 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.publish-book .label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}
.publish-book .label p {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}
.publish-book .label span {
    color: #999;
}
.publish .action {
    display: inline-flex;
    align-items: center;
    background: white;
    gap: 5px;
    color: blueviolet;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.select-interests {
    position: relative;
    margin: auto auto 25px;
    scroll-margin-top: 150px;
    transition: all 0.5s;
    width: 100%;
  }
  .select-interests .categories {
    position: absolute;
    top: 60px;
    padding: 13px;
    border-radius: 10px;
    background-color: #f8f8f8;
    color: #474747;
    text-align: left;
    max-height: 400px;
    width: 100%;
    max-width: 500px;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .categories::-webkit-scrollbar {
    width: 7px;
  }
  
  .categories::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: #b6b3b3;
  }
  
  .categories::-webkit-scrollbar-thumb {
    background-color: #636262;
    border-radius: 100px;
  }
  .select-interests .categories span {
    padding: 10px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
  }
  .select-interests .categories span:hover {
    background-color: #fff;
  }
  .select-category {
    cursor: pointer;
    width: 100%;
    padding: 13px;
    margin: 10px 0 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .selected {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
  }
.publish-book .collection {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px dotted #ccc;
}
.publish-book .collection span {
    color: #999;
    font-size: 0.8em;
}
.publish-book .button-group {
    display: flex;
    gap: 10px;
    flex: 1;
    margin-top: 50px;
}
.publish-book button {
    cursor: pointer;
}
.publish-book .draft-button {
    background: white;
    border: 1px solid #000;
    width: 50%;
    padding: 15px 0;
    border-radius: 5px;
}
.publish-book .publish-button {
    background: blueviolet;
    color: white;
    width: 50%;
    padding: 15px 0;
    margin: 0;
    border-radius: 5px;
    border: none;
}
.publish-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex: 1;
    padding: 50px;
}
.thumbnail{
    height:100vh;
    overflow-y: hidden;
    width: 100%;
}
.publish-preview .action {
    margin-top: 20px;
}
.publish-preview .preview-text p {
    text-align: center;
    margin: 0;
}