.splash-signup-container {
    display: flex;
}
.logo-progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 700;
}
.progress {
    gap: 5px;
    display: flex;
}
.signup .progress span {
    width: 50px;
    height: 7px;
    border-radius: 10px;
    background: #dddcdc;
}
.splash {
    padding: 25px;
    text-align: center;
    border-right: 1px solid #dddcdc;
    flex: 0 1 40%;
}
.splash .image-container img {
    padding-top: 70px;
    width: 300px;
}
.signup-container, .interests, .signup .role {
    text-align: center;
    padding: 50px 170px;
    flex: 1;
}
.google {
    display: flex;
	align-items: center;
	justify-content: center;
    text-decoration: none;
    width: 100%;
    outline: 1px solid #5a5959;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}
#google-logo{
	height: 30px;
}
.password-container{
    position: relative;
    
}
#pwd1{
    width: 100%;
    position: relative;
}
#pwd2{

}
#password-icon{
    display: inline-block;
    position: absolute;
    height: 20px;
    right: 5px;
    margin-right: 0%;
    right: 0;
    z-index: 9999;
    
}
#password-requirements {
    color: grey;
    font-size: small;
    width: 100%; 
    display: inline;
    flex-shrink: 0;
}

#password-requirements  span{
display: inline;
}
form input {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #dddcdc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="submit"] {
    background-color: #7140C1;
    color: #fff;
    cursor: pointer;
}
.skip {
    background: #fff !important;
    color: #000 !important;
    border: none;
}
