.topread {
    padding: 0 20px 40px;
}
.topread .title {
    font-size: 32px;
    font-weight: 700;
}
.top-read-row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.topread .read {
    flex: 0 1 200px;
    position: relative;
    padding: 0 0 0 40px;
}
.read-container {
    padding-bottom: 120%;
    border-radius: 5px;
    background: url(''), lightgray 50% / cover no-repeat;
}
.topread .rank {
    position: absolute;
    left: 0;
    top: 25%;
    color: rgba(0, 0, 0, 0.12);
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
}